body {
  background-color: #ffffff;
}

h2 {color: white; }

q {
  border-spacing: 5px;
  font-size: 25px; 
} 

.black-background {
  background-color: black;
  font-family: Arial Black;
}

.thin-black-border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
  }